BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignEscapedNewlines: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: false
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeIsMainRegex: (^(ui_)?|(_test)?$)
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
SpacesInContainerLiterals: false
TabWidth: 4
UseTab: ForIndentation
